In [5]:
import pandas as pd
import numpy as np

In [46]:
pd.__version__

'2.3.2'

In [3]:
df = pd.read_csv('https://raw.githubusercontent.com/alexeygrigorev/datasets/master/car_fuel_efficiency.csv')

In [4]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [9]:
df.head()

,engine_displacement,num_cylinders,horsepower,vehicle_weight,acceleration,model_year,origin,fuel_type,drivetrain,num_doors,fuel_efficiency_mpg
0,170,3.0,159.0,3413.433759,17.7,2003,Europe,Gasoline,All-wheel drive,0.0,13.231729
1,130,5.0,97.0,3149.664934,17.8,2007,USA,Gasoline,Front-wheel drive,0.0,13.688217
2,170,NaN,78.0,3079.038997,15.1,2018,Europe,Gasoline,Front-wheel drive,0.0,14.246341
3,220,4.0,NaN,2542.392402,20.2,2009,USA,Diesel,All-wheel drive,2.0,16.912736
4,210,1.0,140.0,3460.870990,14.4,2009,Europe,Gasoline,All-wheel drive,2.0,12.488369

In [12]:
df.shape

(9704, 11)

In [14]:
df.fuel_type.unique()

array(['Gasoline', 'Diesel'], dtype=object)

In [18]:
df.isnull().sum()

engine_displacement      0
num_cylinders          482
horsepower             708
vehicle_weight           0
acceleration           930
model_year               0
origin                   0
fuel_type                0
drivetrain               0
num_doors              502
fuel_efficiency_mpg      0
dtype: int64

In [45]:
df[df['origin']== 'Asia'].fuel_efficiency_mpg.describe()

count    3247.000000
mean       14.973830
std         2.578345
min         6.886245
25%        13.252010
50%        15.034670
75%        16.726318
max        23.759123
Name: fuel_efficiency_mpg, dtype: float64

In [ ]:
# Q5
df.horsepower.median()

np.float64(149.0)

In [31]:
valor_fecuente = df.horsepower.mode()[0]
valor_fecuente

np.float64(152.0)

In [33]:
df.horsepower.fillna(valor_fecuente )
df.horsepower.mode()[0]

np.float64(152.0)

In [37]:
# Q7
X = df[df['origin'] == 'Asia'][['vehicle_weight', 'model_year']]
X = X.iloc[:7]
X = np.array(X)

y = [1100, 1300, 800, 900, 1000, 1100, 1200]

In [40]:
XTX = X.T.dot(X)
XTX_INV = np.linalg.inv(XTX ) # INVERSA

w= XTX_INV.dot(X.T).dot(y)

In [41]:
w.sum()

np.float64(0.5187709081074016)

In [42]:
w

array([0.01386421, 0.5049067 ])